.container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
}

.button{
   cursor: pointer;
   padding: 5px 10px;
}

.button:disabled{
   cursor: disable;
}